html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	color:white;
	text-align: center;
	background-image: url("Stars.png");
	background-size: 600px, 500px;
}

/* Create your styles below */
